In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
#what saved in this file#
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [8]:
#show all columns in dataset#
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [10]:
#what saved in this file#
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [11]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['charges']]

In [12]:
#what saved in this file#
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [13]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
#Model creation#
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['squared_error','absolute_error','friedman_mse','poisson'],
              'max_features':['auto','sqrt','log2'],
              'n_estimators':[10,100]}
              
grid=GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3,n_jobs=-1)

#fitting the model for grid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [16]:
#Print best parameter afterr tuning#
#Print(grid.best_params_)
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}:

In [17]:
#cross check prediction#
y_pred=grid.predict(X_test)

In [18]:
#find r2_score#
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [19]:
r_score

0.872704233287834

In [20]:
table=pd.DataFrame.from_dict(re)

In [21]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.138131,0.033076,0.014755,0.003411,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.856286,0.757434,0.778676,0.771074,0.764572,0.785608,0.036030,21
1,0.929358,0.098756,0.031246,0.000014,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.861326,0.773596,0.796003,0.801424,0.772131,0.800896,0.032400,11
2,0.073631,0.020147,0.011074,0.006188,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.831099,0.785847,0.774840,0.809797,0.759873,0.792291,0.025336,16
3,0.951457,0.124269,0.033401,0.004290,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.867066,0.789820,0.796763,0.814698,0.768777,0.807425,0.033248,7
4,0.087670,0.022061,0.006251,0.007656,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.852683,0.786761,0.766858,0.793035,0.752916,0.790451,0.034230,19
5,0.767747,0.024224,0.047611,0.013466,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.861269,0.791344,0.795604,0.815648,0.764912,0.805755,0.032120,8
6,0.316472,0.049898,0.003427,0.004198,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",0.841699,0.773561,0.799305,0.774513,0.765797,0.790975,0.027751,18
7,2.559375,0.259885,0.029560,0.007039,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.850864,0.783551,0.786999,0.800578,0.769734,0.798345,0.028034,12
8,0.202537,0.030742,0.007914,0.007047,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.830665,0.767481,0.791569,0.798055,0.772506,0.792055,0.022419,17
9,1.758049,0.083923,0.034254,0.005625,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.868581,0.789090,0.802289,0.822705,0.773251,0.811183,0.032965,1
10,0.172630,0.011095,0.006251,0.007656,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.852521,0.759524,0.790551,0.811185,0.769655,0.796687,0.033097,13
11,1.857461,0.257153,0.027094,0.006665,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.858923,0.786739,0.803450,0.823209,0.773985,0.809261,0.029820,4
12,0.068755,0.007655,0.006251,0.007655,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.845148,0.766440,0.783475,0.768392,0.749705,0.782632,0.033040,23
13,0.913404,0.069705,0.029459,0.012667,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.863134,0.783790,0.801357,0.798928,0.770112,0.803464,0.031890,9
14,0.073168,0.008993,0.009406,0.005838,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.861737,0.747565,0.755452,0.789261,0.750285,0.780860,0.043129,24
15,0.715536,0.012249,0.034389,0.006272,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.861545,0.788711,0.802131,0.819070,0.774741,0.809240,0.029982,5
16,0.073034,0.008714,0.000000,0.000000,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.838053,0.783584,0.785761,0.798989,0.759148,0.793107,0.025894,15
17,0.670702,0.015388,0.025984,0.006512,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.863869,0.793933,0.795035,0.822196,0.780319,0.811070,0.029691,2
18,0.095032,0.001646,0.012931,0.006519,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.860753,0.761163,0.782984,0.794955,0.768498,0.793671,0.035514,14
19,0.961739,0.044897,0.030541,0.002832,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.863357,0.781503,0.795672,0.799780,0.771817,0.802426,0.032062,10
20,0.079472,0.005519,0.009544,0.007808,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.842289,0.778055,0.770079,0.777812,0.762468,0.786141,0.028656,20
21,0.805079,0.078932,0.036342,0.013545,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.867074,0.797675,0.798288,0.823736,0.765024,0.810359,0.033933,3
22,0.092026,0.024921,0.011072,0.003358,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.831928,0.779539,0.770039,0.775075,0.762095,0.783735,0.024783,22
23,0.683225,0.120933,0.019106,0.004260,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.863509,0.792494,0.796856,0.821953,0.770804,0.809123,0.031679,6

In [ ]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

In [ ]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))